@model ALZ.ConsultaProcessosTjmg.Dominio.Processo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Processo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroProcesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroProcesso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaMovimentacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaMovimentacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConsulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
